[submodule "frontend"]
	path = frontend
	url = https://github.com/fappablo/dwarven-relics-frontend
[submodule "server"]
	path = server
	url = https://github.com/fappablo/dwarven-relics-server
[submodule "blockchain"]
	path = blockchain
	url = https://github.com/fappablo/dwarven-relics-blockchain
